<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'new_show.css'%}">
</head>
<body>
    <div id="wrapper">
        <a href="/">Go Back</a>

        <h1>Add a New Show</h1>

        <!-- adding in validations -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="/create_new_show">
            {% csrf_token %}
            <label>Title</label>
            <input type="text" name = "title">

            <div class='inline'>
                <div class='stacked'>
            <label>Network</label>
            <input type="text" name='network'>
            </div>

            <div class='stacked'>
            <label>Release Date</label>
            <input type="date" name='date'>
            </div>
            
            </div>

            <label>Description</label>
            <textarea rows="10" cols="50" name='desc'></textarea>

            <button type="submit">Create</button>
        </form>
    </div>
    
</body>
</html>